In [74]:
import os
import json
import pandas as pd

In [2]:
path1 = "C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state"
agg_trans_list = os.listdir(path1)

In [3]:
agg_trans_list

['andaman-&-nicobar-islands',
 'andhra-pradesh',
 'arunachal-pradesh',
 'assam',
 'bihar',
 'chandigarh',
 'chhattisgarh',
 'dadra-&-nagar-haveli-&-daman-&-diu',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal-pradesh',
 'jammu-&-kashmir',
 'jharkhand',
 'karnataka',
 'kerala',
 'ladakh',
 'lakshadweep',
 'madhya-pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'odisha',
 'puducherry',
 'punjab',
 'rajasthan',
 'sikkim',
 'tamil-nadu',
 'telangana',
 'tripura',
 'uttar-pradesh',
 'uttarakhand',
 'west-bengal']

In [10]:
path1 = "C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/"
agg_trans_list = os.listdir(path1) 

for state in agg_trans_list:
    cur_states =path1 + state +"/"
    print(cur_states)

C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/andaman-&-nicobar-islands/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/andhra-pradesh/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/arunachal-pradesh/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/assam/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/bihar/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/chandigarh/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/chhattisgarh/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/dadra-&-nagar-haveli-&-daman-&-diu/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/delhi/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/goa/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/gujarat/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/haryana/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/himachal-pradesh/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/jammu-&-kashmir/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/jharkhand/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/karnataka/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/kerala/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/ladakh/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/lakshadweep/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/madhya-pradesh/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/maharashtra/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/manipur/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/meghalaya/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/mizoram/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/nagaland/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/odisha/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/puducherry/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/punjab/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/rajasthan/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/sikkim/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/tamil-nadu/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/telangana/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/tripura/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/uttar-pradesh/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/uttarakhand/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/west-bengal/

In [11]:
agg_year_list = os.listdir(cur_states)
print(agg_year_list)

['2018', '2019', '2020', '2021', '2022', '2023']

In [13]:
path1 = "C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/"
agg_trans_list = os.listdir(path1) 

for state in agg_trans_list:
    cur_states =path1 + state +"/"
    agg_year_list = os.listdir(cur_states)
    print(agg_year_list)

['2018', '2019', '2020', '2021', '2022', '2023']
['2018', '2019', '2020', '2021', '2022', '2023']
['2018', '2019', '2020', '2021', '2022', '2023']
['2018', '2019', '2020', '2021', '2022', '2023']
['2018', '2019', '2020', '2021', '2022', '2023']
['2018', '2019', '2020', '2021', '2022', '2023']
['2018', '2019', '2020', '2021', '2022', '2023']
['2018', '2019', '2020', '2021', '2022', '2023']
['2018', '2019', '2020', '2021', '2022', '2023']
['2018', '2019', '2020', '2021', '2022', '2023']
['2018', '2019', '2020', '2021', '2022', '2023']
['2018', '2019', '2020', '2021', '2022', '2023']
['2018', '2019', '2020', '2021', '2022', '2023']
['2018', '2019', '2020', '2021', '2022', '2023']
['2018', '2019', '2020', '2021', '2022', '2023']
['2018', '2019', '2020', '2021', '2022', '2023']
['2018', '2019', '2020', '2021', '2022', '2023']
['2018', '2019', '2020', '2021', '2022', '2023']
['2018', '2019', '2020', '2021', '2022', '2023']
['2018', '2019', '2020', '2021', '2022', '2023']
['2018', '2019', '2020', '2021', '2022', '2023']
['2018', '2019', '2020', '2021', '2022', '2023']
['2018', '2019', '2020', '2021', '2022', '2023']
['2018', '2019', '2020', '2021', '2022', '2023']
['2018', '2019', '2020', '2021', '2022', '2023']
['2018', '2019', '2020', '2021', '2022', '2023']
['2018', '2019', '2020', '2021', '2022', '2023']
['2018', '2019', '2020', '2021', '2022', '2023']
['2018', '2019', '2020', '2021', '2022', '2023']
['2018', '2019', '2020', '2021', '2022', '2023']
['2018', '2019', '2020', '2021', '2022', '2023']
['2018', '2019', '2020', '2021', '2022', '2023']
['2018', '2019', '2020', '2021', '2022', '2023']
['2018', '2019', '2020', '2021', '2022', '2023']
['2018', '2019', '2020', '2021', '2022', '2023']
['2018', '2019', '2020', '2021', '2022', '2023']

In [15]:
path1 = "C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/"
agg_trans_list = os.listdir(path1) 

for state in agg_trans_list:
    cur_states =path1 + state +"/"
    agg_year_list = os.listdir(cur_states)

    for year in agg_year_list:
        cur_year =cur_states + year + "/"
        print(cur_year)

C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/andaman-&-nicobar-islands/2018/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/andaman-&-nicobar-islands/2019/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/andaman-&-nicobar-islands/2020/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/andaman-&-nicobar-islands/2021/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/andaman-&-nicobar-islands/2022/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/andaman-&-nicobar-islands/2023/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/andhra-pradesh/2018/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/andhra-pradesh/2019/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/andhra-pradesh/2020/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/andhra-pradesh/2021/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/andhra-pradesh/2022/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/andhra-pradesh/2023/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/arunachal-pradesh/2018/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/arunachal-pradesh/2019/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/arunachal-pradesh/2020/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/arunachal-pradesh/2021/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/arunachal-pradesh/2022/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/arunachal-pradesh/2023/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/assam/2018/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/assam/2019/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/assam/2020/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/assam/2021/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/assam/2022/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/assam/2023/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/bihar/2018/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/bihar/2019/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/bihar/2020/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/bihar/2021/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/bihar/2022/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/bihar/2023/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/chandigarh/2018/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/chandigarh/2019/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/chandigarh/2020/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/chandigarh/2021/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/chandigarh/2022/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/chandigarh/2023/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/chhattisgarh/2018/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/chhattisgarh/2019/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/chhattisgarh/2020/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/chhattisgarh/2021/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/chhattisgarh/2022/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/chhattisgarh/2023/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/dadra-&-nagar-haveli-&-daman-&-diu/2018/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/dadra-&-nagar-haveli-&-daman-&-diu/2019/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/dadra-&-nagar-haveli-&-daman-&-diu/2020/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/dadra-&-nagar-haveli-&-daman-&-diu/2021/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/dadra-&-nagar-haveli-&-daman-&-diu/2022/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/dadra-&-nagar-haveli-&-daman-&-diu/2023/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/delhi/2018/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/delhi/2019/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/delhi/2020/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/delhi/2021/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/delhi/2022/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/delhi/2023/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/goa/2018/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/goa/2019/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/goa/2020/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/goa/2021/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/goa/2022/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/goa/2023/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/gujarat/2018/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/gujarat/2019/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/gujarat/2020/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/gujarat/2021/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/gujarat/2022/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/gujarat/2023/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/haryana/2018/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/haryana/2019/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/haryana/2020/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/haryana/2021/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/haryana/2022/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/haryana/2023/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/himachal-pradesh/2018/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/himachal-pradesh/2019/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/himachal-pradesh/2020/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/himachal-pradesh/2021/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/himachal-pradesh/2022/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/himachal-pradesh/2023/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/jammu-&-kashmir/2018/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/jammu-&-kashmir/2019/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/jammu-&-kashmir/2020/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/jammu-&-kashmir/2021/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/jammu-&-kashmir/2022/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/jammu-&-kashmir/2023/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/jharkhand/2018/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/jharkhand/2019/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/jharkhand/2020/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/jharkhand/2021/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/jharkhand/2022/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/jharkhand/2023/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/karnataka/2018/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/karnataka/2019/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/karnataka/2020/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/karnataka/2021/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/karnataka/2022/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/karnataka/2023/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/kerala/2018/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/kerala/2019/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/kerala/2020/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/kerala/2021/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/kerala/2022/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/kerala/2023/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/ladakh/2018/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/ladakh/2019/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/ladakh/2020/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/ladakh/2021/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/ladakh/2022/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/ladakh/2023/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/lakshadweep/2018/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/lakshadweep/2019/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/lakshadweep/2020/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/lakshadweep/2021/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/lakshadweep/2022/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/lakshadweep/2023/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/madhya-pradesh/2018/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/madhya-pradesh/2019/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/madhya-pradesh/2020/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/madhya-pradesh/2021/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/madhya-pradesh/2022/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/madhya-pradesh/2023/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/maharashtra/2018/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/maharashtra/2019/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/maharashtra/2020/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/maharashtra/2021/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/maharashtra/2022/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/maharashtra/2023/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/manipur/2018/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/manipur/2019/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/manipur/2020/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/manipur/2021/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/manipur/2022/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/manipur/2023/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/meghalaya/2018/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/meghalaya/2019/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/meghalaya/2020/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/meghalaya/2021/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/meghalaya/2022/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/meghalaya/2023/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/mizoram/2018/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/mizoram/2019/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/mizoram/2020/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/mizoram/2021/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/mizoram/2022/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/mizoram/2023/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/nagaland/2018/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/nagaland/2019/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/nagaland/2020/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/nagaland/2021/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/nagaland/2022/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/nagaland/2023/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/odisha/2018/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/odisha/2019/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/odisha/2020/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/odisha/2021/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/odisha/2022/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/odisha/2023/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/puducherry/2018/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/puducherry/2019/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/puducherry/2020/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/puducherry/2021/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/puducherry/2022/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/puducherry/2023/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/punjab/2018/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/punjab/2019/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/punjab/2020/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/punjab/2021/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/punjab/2022/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/punjab/2023/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/rajasthan/2018/
C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/rajasthan/2019/

In [18]:
path1 = "C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/"
agg_trans_list = os.listdir(path1) 

for state in agg_trans_list:
    cur_states =path1 + state +"/"
    agg_year_list = os.listdir(cur_states)

    for year in agg_year_list:
        cur_year =cur_states + year + "/"
        agg_file_list = os.listdir(cur_year)
        print(agg_file_list)

['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']
['1.json', '2.json', '3.json', '4.json']

In [21]:
path1 = "C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/"
agg_trans_list = os.listdir(path1) 

for state in agg_trans_list:
    cur_states =path1 + state +"/"
    agg_year_list = os.listdir(cur_states)

    for year in agg_year_list:
        cur_year =cur_states + year + "/"
        agg_file_list = os.listdir(cur_year)

        for file in agg_file_list:
            cur_file = cur_year + file
            data = open(cur_file,"r")

            A = json.load(data)

In [22]:
A

{'success': True,
 'code': 'SUCCESS',
 'data': {'from': 1696098600000,
  'to': 1703701800000,
  'transactionData': [{'name': 'Merchant payments',
    'paymentInstruments': [{'type': 'TOTAL',
      'count': 354067997,
      'amount': 239073842398.0}]},
   {'name': 'Peer-to-peer payments',
    'paymentInstruments': [{'type': 'TOTAL',
      'count': 317959249,
      'amount': 964138540494.0}]},
   {'name': 'Recharge & bill payments',
    'paymentInstruments': [{'type': 'TOTAL',
      'count': 64920775,
      'amount': 45319429210.0}]},
   {'name': 'Financial Services',
    'paymentInstruments': [{'type': 'TOTAL',
      'count': 480740,
      'amount': 459007296.0}]},
   {'name': 'Others',
    'paymentInstruments': [{'type': 'TOTAL',
      'count': 524477,
      'amount': 404156680.0}]}]},
 'responseTimestamp': 1706092732267}

In [3]:
path1 = "C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/transaction/country/india/state/"
agg_trans_list = os.listdir(path1) 

clm = {"state":[], "year":[], "Quater":[], "Transaction_type":[], "Transaction_count":[], "Transaction_amount":[]} 
for state in agg_trans_list:
    cur_states =path1 + state +"/"
    agg_year_list = os.listdir(cur_states)

    for year in agg_year_list:
        cur_year =cur_states + year + "/"
        agg_file_list = os.listdir(cur_year)

        for file in agg_file_list:
            cur_file = cur_year + file
            data = open(cur_file,"r")

            A = json.load(data)

            for i in A["data"]["transactionData"]:
                name=i["name"]
                count=i["paymentInstruments"][0]["count"]
                amount=i["paymentInstruments"][0]["amount"]
                clm["Transaction_type"].append(name)
                clm["Transaction_count"].append(count)
                clm["Transaction_amount"].append(amount)
                clm["state"].append(state)
                clm["year"].append(year)
                clm["Quater"].append(int(file.strip(".json")))

In [4]:
agg_trans=pd.DataFrame(clm)

In [10]:
agg_trans["state"]=agg_trans["state"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar Islands")
agg_trans["state"]=agg_trans["state"].str.replace("-"," ")
agg_trans["state"]=agg_trans["state"].str.title()
agg_trans["state"]=agg_trans["state"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

In [70]:
agg_trans['year'] = agg_trans['year'].astype(int)
agg_trans.dtypes

state                  object
year                    int32
Quater                  int64
Transaction_type       object
Transaction_count       int64
Transaction_amount    float64
dtype: object

In [14]:
agg_trans

,state,year,Quater,Transaction_type,Transaction_count,Transaction_amount
0,Andaman & Nicobar Islands,2018,1,Recharge & bill payments,4200,1.845307e+06
1,Andaman & Nicobar Islands,2018,1,Peer-to-peer payments,1871,1.213866e+07
2,Andaman & Nicobar Islands,2018,1,Merchant payments,298,4.525072e+05
3,Andaman & Nicobar Islands,2018,1,Financial Services,33,1.060142e+04
4,Andaman & Nicobar Islands,2018,1,Others,256,1.846899e+05
...,...,...,...,...,...,...
4309,West Bengal,2023,4,Merchant payments,354067997,2.390738e+11
4310,West Bengal,2023,4,Peer-to-peer payments,317959249,9.641385e+11
4311,West Bengal,2023,4,Recharge & bill payments,64920775,4.531943e+10
4312,West Bengal,2023,4,Financial Services,480740,4.590073e+08
4313,West Bengal,2023,4,Others,524477,4.041567e+08

In [12]:
path2 = "C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/aggregated/user/country/india/state/"
agg_user_list = os.listdir(path2)
clm1 = {"state":[], "year":[], "Quater":[], "Brands":[], "Transaction_count":[], "Percentage":[]} 

for state in agg_user_list:
    cur_states =path2 + state +"/"
    agg_year_list = os.listdir(cur_states)

    for year in agg_year_list:
        cur_year =cur_states + year + "/"
        agg_file_list = os.listdir(cur_year)

        for file in agg_file_list:
            cur_file = cur_year + file
            data = open(cur_file,"r")

            B = json.load(data)

            try:
                for i in B["data"]["usersByDevice"]:
                    brand=i["brand"]
                    count=i["count"]
                    percentage=i["percentage"]
                    clm1["Brands"].append(brand)
                    clm1["Transaction_count"].append(count)
                    clm1["Percentage"].append(percentage)
                    clm1["state"].append(state)
                    clm1["year"].append(year)
                    clm1["Quater"].append(int(file.strip(".json")))

            except:
                pass

In [22]:
df2["state"]= df2["state"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar Islands")
df2["state"]= df2["state"].str.replace("-"," ")
df2["state"]=df2["state"].str.title()
df2["state"]=df2["state"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

In [68]:
df2['year'] = df2['year'].astype(int)
df2.dtypes

state                 object
year                   int32
Quater                 int64
Brands                object
Transaction_count      int64
Percentage           float64
dtype: object

In [24]:
df2

,state,year,Quater,Brands,Transaction_count,Percentage
0,Andaman & Nicobar Islands,2018,1,Xiaomi,1665,0.247033
1,Andaman & Nicobar Islands,2018,1,Samsung,1445,0.214392
2,Andaman & Nicobar Islands,2018,1,Vivo,982,0.145697
3,Andaman & Nicobar Islands,2018,1,Oppo,501,0.074332
4,Andaman & Nicobar Islands,2018,1,OnePlus,332,0.049258
...,...,...,...,...,...,...
6727,West Bengal,2022,1,Lenovo,330017,0.015056
6728,West Bengal,2022,1,Infinix,284678,0.012987
6729,West Bengal,2022,1,Asus,280347,0.012790
6730,West Bengal,2022,1,Apple,277752,0.012671
6731,West Bengal,2022,1,Others,2196334,0.100199

In [26]:
path3 = "C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/map/transaction/hover/country/india/state/"
map_trans_list = os.listdir(path3) 

clm2 = {"state":[], "year":[], "Quater":[], "Districts":[], "Transaction_count":[], "Transaction_amount":[]} 
for state in map_trans_list:
    cur_states =path3 + state +"/"
    agg_year_list = os.listdir(cur_states)

    for year in agg_year_list:
        cur_year =cur_states + year + "/"
        agg_file_list = os.listdir(cur_year)

        for file in agg_file_list:
            cur_file = cur_year + file
            data = open(cur_file,"r")

            C = json.load(data)

            for i in C["data"]["hoverDataList"]:
                name=i["name"]
                count=i["metric"][0]["count"]
                amount=i["metric"][0]["amount"]
                clm2["Districts"].append(name)
                clm2["Transaction_count"].append(count)
                clm2["Transaction_amount"].append(amount)
                clm2["state"].append(state)
                clm2["year"].append(year)
                clm2["Quater"].append(int(file.strip(".json")))

In [27]:
df3 = pd.DataFrame(clm2)

In [62]:
df3["state"]= df3["state"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar Islands")
df3["state"]= df3["state"].str.replace("-"," ")
df3["state"]=df3["state"].str.title()
df3["state"]=df3["state"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")
df3["Districts"]=df3["Districts"].str.title()

In [65]:
df3['year'] = df3['year'].astype(int)
df3.dtypes

state                  object
year                    int32
Quater                  int64
Districts              object
Transaction_count       int64
Transaction_amount    float64
dtype: object

In [66]:
df3

,state,year,Quater,Districts,Transaction_count,Transaction_amount
0,Andaman & Nicobar Islands,2018,1,North And Middle Andaman District,442,9.316631e+05
1,Andaman & Nicobar Islands,2018,1,South Andaman District,5688,1.256025e+07
2,Andaman & Nicobar Islands,2018,1,Nicobars District,528,1.139849e+06
3,Andaman & Nicobar Islands,2018,2,North And Middle Andaman District,825,1.317863e+06
4,Andaman & Nicobar Islands,2018,2,South Andaman District,9395,2.394824e+07
...,...,...,...,...,...,...
17559,West Bengal,2023,4,Nadia District,36242432,6.879568e+10
17560,West Bengal,2023,4,Birbhum District,20708496,3.690499e+10
17561,West Bengal,2023,4,Purba Medinipur District,40572042,7.981990e+10
17562,West Bengal,2023,4,Maldah District,34654950,6.416729e+10
17563,West Bengal,2023,4,Darjiling District,16807885,2.793986e+10

In [30]:
path4 = "C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/map/user/hover/country/india/state/"
map_user_list = os.listdir(path4)
clm3 = {"state":[], "year":[], "Quater":[], "Districts":[], "RegisteredUsers":[], "AppOpens":[]} 

for state in map_user_list:
    cur_states =path4 + state +"/"
    agg_year_list = os.listdir(cur_states)

    for year in agg_year_list:
        cur_year =cur_states + year + "/"
        agg_file_list = os.listdir(cur_year)

        for file in agg_file_list:
            cur_file = cur_year + file
            data = open(cur_file,"r")

            D = json.load(data)

            for i in D["data"]["hoverData"].items():
                districts=i[0]
                registeredUsers=i[1]["registeredUsers"]
                appOpens=i[1]["appOpens"]
                clm3["Districts"].append(districts)
                clm3["RegisteredUsers"].append(registeredUsers)
                clm3["AppOpens"].append(appOpens)
                clm3["state"].append(state)
                clm3["year"].append(year)
                clm3["Quater"].append(int(file.strip(".json")))

In [31]:
df4 =pd.DataFrame(clm3)

In [53]:
df4["state"]= df4["state"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar Islands")
df4["state"]= df4["state"].str.replace("-"," ")
df4["state"]=df4["state"].str.title()
df4["state"]=df4["state"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")
df4["Districts"]=df4["Districts"].str.title()

In [56]:
df4['year'] = df4['year'].astype(int)
df4.dtypes

state              object
year                int32
Quater              int64
Districts          object
RegisteredUsers     int64
AppOpens            int64
dtype: object

In [57]:
df4

,state,year,Quater,Districts,RegisteredUsers,AppOpens
0,Andaman & Nicobar Islands,2018,1,North And Middle Andaman District,632,0
1,Andaman & Nicobar Islands,2018,1,South Andaman District,5846,0
2,Andaman & Nicobar Islands,2018,1,Nicobars District,262,0
3,Andaman & Nicobar Islands,2018,2,North And Middle Andaman District,911,0
4,Andaman & Nicobar Islands,2018,2,South Andaman District,8143,0
...,...,...,...,...,...,...
17563,West Bengal,2023,4,Nadia District,1603527,67224546
17564,West Bengal,2023,4,Birbhum District,1013025,52281841
17565,West Bengal,2023,4,Purba Medinipur District,1589203,69991821
17566,West Bengal,2023,4,Maldah District,1134600,88292475
17567,West Bengal,2023,4,Darjiling District,660231,39079247

In [34]:
path5 = "C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/top/transaction/country/india/state/"
top_trans_list = os.listdir(path5) 

clm4 = {"state":[], "year":[], "Quater":[], "Pincodes":[], "Transaction_count":[], "Transaction_amount":[]} 
for state in top_trans_list:
    cur_states =path5 + state +"/"
    agg_year_list = os.listdir(cur_states)

    for year in agg_year_list:
        cur_year =cur_states + year + "/"
        agg_file_list = os.listdir(cur_year)

        for file in agg_file_list:
            cur_file = cur_year + file
            data = open(cur_file,"r")

            E = json.load(data)

            for i in E["data"]["pincodes"]:
                entityName=i["entityName"]
                count=i["metric"]["count"]
                amount=i["metric"]["amount"]
                clm4["Pincodes"].append(entityName)
                clm4["Transaction_count"].append(count)
                clm4["Transaction_amount"].append(amount)
                clm4["state"].append(state)
                clm4["year"].append(year)
                clm4["Quater"].append(int(file.strip(".json")))

In [35]:
df5=pd.DataFrame(clm4)

In [36]:
df5["state"]= df5["state"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar Islands")
df5["state"]= df5["state"].str.replace("-"," ")
df5["state"]=df5["state"].str.title()
df5["state"]=df5["state"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

In [59]:
df5['Pincodes'] = pd.to_numeric(df5['Pincodes'], errors='coerce')
df5.dtypes

state                  object
year                    int32
Quater                  int64
Pincodes              float64
Transaction_count       int64
Transaction_amount    float64
dtype: object

In [37]:
df5

,state,year,Quater,Pincodes,Transaction_count,Transaction_amount
0,Andaman & Nicobar Islands,2018,1,744101,1622,2.769298e+06
1,Andaman & Nicobar Islands,2018,1,744103,1223,2.238042e+06
2,Andaman & Nicobar Islands,2018,1,744102,969,3.519060e+06
3,Andaman & Nicobar Islands,2018,1,744105,685,1.298561e+06
4,Andaman & Nicobar Islands,2018,1,744104,340,1.039715e+06
...,...,...,...,...,...,...
8562,West Bengal,2023,4,721301,4133775,5.718222e+09
8563,West Bengal,2023,4,700001,3983241,8.039689e+09
8564,West Bengal,2023,4,732125,3950411,6.557345e+09
8565,West Bengal,2023,4,700039,3742452,5.608622e+09
8566,West Bengal,2023,4,700014,3652710,6.184795e+09

In [38]:
path6 = "C:/Users/aravi/Desktop/Python Scripts/Phonepe/pulse/data/top/user/country/india/state/"
top_user_list = os.listdir(path6)
clm5 = {"state":[], "year":[], "Quater":[], "Pincodes":[], "RegisteredUsers":[]} 

for state in top_user_list:
    cur_states =path6 + state +"/"
    agg_year_list = os.listdir(cur_states)

    for year in agg_year_list:
        cur_year =cur_states + year + "/"
        agg_file_list = os.listdir(cur_year)

        for file in agg_file_list:
            cur_file = cur_year + file
            data = open(cur_file,"r")

            F = json.load(data)

            for i in F["data"]["pincodes"]:
                entityName=i["name"]
                registeredUsers=i["registeredUsers"]
                clm5["Pincodes"].append(entityName)
                clm5["RegisteredUsers"].append(registeredUsers)
                clm5["state"].append(state)
                clm5["year"].append(year)
                clm5["Quater"].append(int(file.strip(".json")))

In [39]:
df6 = pd.DataFrame(clm5)

In [40]:
df6["state"]= df6["state"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar Islands")
df6["state"]= df6["state"].str.replace("-"," ")
df6["state"]=df6["state"].str.title()
df6["state"]=df6["state"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

In [41]:
df6

                          state  year  Quater Pincodes  RegisteredUsers
0     Andaman & Nicobar Islands  2018       1   744103             1608
1     Andaman & Nicobar Islands  2018       1   744101             1108
2     Andaman & Nicobar Islands  2018       1   744105             1075
3     Andaman & Nicobar Islands  2018       1   744102             1006
4     Andaman & Nicobar Islands  2018       1   744104              272
...                         ...   ...     ...      ...              ...
8563                West Bengal  2023       4   700015           126663
8564                West Bengal  2023       4   742304           123320
8565                West Bengal  2023       4   721101           123088
8566                West Bengal  2023       4   700150           119283
8567                West Bengal  2023       4   700091           118578

[8568 rows x 5 columns]

In [45]:
df6['year'] = df6['year'].astype(int)
df6['Pincodes'] = df6['Pincodes'].astype(int)

In [46]:
df6.dtypes

state              object
year                int32
Quater              int64
Pincodes            int32
RegisteredUsers     int64
dtype: object

In [47]:
df6

                          state  year  Quater  Pincodes  RegisteredUsers
0     Andaman & Nicobar Islands  2018       1    744103             1608
1     Andaman & Nicobar Islands  2018       1    744101             1108
2     Andaman & Nicobar Islands  2018       1    744105             1075
3     Andaman & Nicobar Islands  2018       1    744102             1006
4     Andaman & Nicobar Islands  2018       1    744104              272
...                         ...   ...     ...       ...              ...
8563                West Bengal  2023       4    700015           126663
8564                West Bengal  2023       4    742304           123320
8565                West Bengal  2023       4    721101           123088
8566                West Bengal  2023       4    700150           119283
8567                West Bengal  2023       4    700091           118578

[8568 rows x 5 columns]

In [ ]:
myconnection = pymysql.connect(host='127.0.0.1',user='GUVI',passwd='Bala@1968')

In [83]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.4.0-cp311-cp311-win_amd64.whl.metadata (2.0 kB)
Downloading mysql_connector_python-8.4.0-cp311-cp311-win_amd64.whl (14.5 MB)
   ---------------------------------------- 0.0/14.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/14.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/14.5 MB 640.0 kB/s eta 0:00:23
   ---------------------------------------- 0.1/14.5 MB 656.4 kB/s eta 0:00:22
    --------------------------------------- 0.3/14.5 MB 2.2 MB/s eta 0:00:07
   - -------------------------------------- 0.7/14.5 MB 3.8 MB/s eta 0:00:04
   -- ------------------------------------- 1.0/14.5 MB 4.7 MB/s eta 0:00:03
   ---- ----------------------------------- 1.5/14.5 MB 5.7 MB/s eta 0:00:03
   ----- ---------------------------------- 2.0/14.5 MB 6.5 MB/s eta 0:00:02
   ------ --------------------------------- 2.3/14.5 MB 6.6 MB/s eta 0:00:02
   -------- ------------------------------- 2.9/14.5 MB 7.2 MB/s eta 0:00:02
   -------- ------------------------------- 3.2/14.5 MB 7.3 MB/s eta 0:00:02
   --------- ------------------------------ 3.4/14.5 MB 7.0 MB/s eta 0:00:02
   --------- ------------------------------ 3.6/14.5 MB 6.8 MB/s eta 0:00:02
   ---------- ----------------------------- 3.7/14.5 MB 6.4 MB/s eta 0:00:02
   ---------- ----------------------------- 3.9/14.5 MB 6.0 MB/s eta 0:00:02
   ---------- ----------------------------- 4.0/14.5 MB 5.7 MB/s eta 0:00:02
   ----------- ---------------------------- 4.1/14.5 MB 5.5 MB/s eta 0:00:02
   ----------- ---------------------------- 4.2/14.5 MB 5.3 MB/s eta 0:00:02
   ----------- ---------------------------- 4.3/14.5 MB 5.1 MB/s eta 0:00:02
   ------------ --------------------------- 4.4/14.5 MB 5.0 MB/s eta 0:00:03
   ------------ --------------------------- 4.5/14.5 MB 4.9 MB/s eta 0:00:03
   ------------ --------------------------- 4.6/14.5 MB 4.8 MB/s eta 0:00:03
   ------------- -------------------------- 4.8/14.5 MB 4.7 MB/s eta 0:00:03
   ------------- -------------------------- 4.9/14.5 MB 4.6 MB/s eta 0:00:03
   ------------- -------------------------- 5.0/14.5 MB 4.5 MB/s eta 0:00:03
   -------------- ------------------------- 5.2/14.5 MB 4.5 MB/s eta 0:00:03
   -------------- ------------------------- 5.3/14.5 MB 4.4 MB/s eta 0:00:03
   --------------- ------------------------ 5.4/14.5 MB 4.3 MB/s eta 0:00:03
   --------------- ------------------------ 5.6/14.5 MB 4.3 MB/s eta 0:00:03
   --------------- ------------------------ 5.7/14.5 MB 4.2 MB/s eta 0:00:03
   ---------------- ----------------------- 5.9/14.5 MB 4.2 MB/s eta 0:00:03
   ---------------- ----------------------- 6.0/14.5 MB 4.2 MB/s eta 0:00:03
   ----------------- ---------------------- 6.2/14.5 MB 4.2 MB/s eta 0:00:02
   ----------------- ---------------------- 6.3/14.5 MB 4.1 MB/s eta 0:00:02
   ------------------ --------------------- 6.5/14.5 MB 4.1 MB/s eta 0:00:02
   ------------------ --------------------- 6.7/14.5 MB 4.1 MB/s eta 0:00:02
   ------------------ --------------------- 6.8/14.5 MB 4.1 MB/s eta 0:00:02
   ------------------- -------------------- 7.0/14.5 MB 4.1 MB/s eta 0:00:02
   ------------------- -------------------- 7.2/14.5 MB 4.1 MB/s eta 0:00:02
   -------------------- ------------------- 7.4/14.5 MB 4.1 MB/s eta 0:00:02
   -------------------- ------------------- 7.5/14.5 MB 4.0 MB/s eta 0:00:02
   --------------------- ------------------ 7.7/14.5 MB 4.0 MB/s eta 0:00:02
   --------------------- ------------------ 7.9/14.5 MB 4.0 MB/s eta 0:00:02
   ---------------------- ----------------- 8.1/14.5 MB 4.1 MB/s eta 0:00:02
   ----------------------- ---------------- 8.3/14.5 MB 4.1 MB/s eta 0:00:02
   ----------------------- ---------------- 8.5/14.5 MB 4.1 MB/s eta 0:00:02
   ------------------------ --------------- 8.7/14.5 MB 4.1 MB/s eta 0:00:02
   ------------------------ --------------- 9.0/14.5 MB 4.1 MB/s eta 0:00:02
   ------------------------- -------------- 9.2/14.5 MB 4.1 MB/s eta 0:00:02
   ------------------------- -------------- 9.4/14.5 MB 4.1 MB/s eta 0:00:02
   -------------------------- ------------- 9.6/14.5 MB 4.1 MB/s eta 0:00:02
   --------------------------- ------------ 9.8/14.5 MB 4.1 MB/s eta 0:00:02
   --------------------------- ------------ 10.0/14.5 MB 4.1 MB/s eta 0:00:02
   ---------------------------- ----------- 10.3/14.5 MB 4.3 MB/s eta 0:00:01
   ----------------------------- ---------- 10.5/14.5 MB 4.3 MB/s eta 0:00:01
   ----------------------------- ---------- 10.7/14.5 MB 4.3 MB/s eta 0:00:01
   ------------------------------ --------- 11.0/14.5 MB 4.2 MB/s eta 0:00:01
   ------------------------------- -------- 11.2/14.5 MB 4.2 MB/s eta 0:00:01
   ------------------------------- -------- 11.5/14.5 MB 4.2 MB/s eta 0:00:01
   -------------------------------- ------- 11.7/14.5 MB 4.1 MB/s eta 0:00:01
   --------------------------------- ------ 12.0/14.5 MB 4.1 MB/s eta 0:00:01
   --------------------------------- ------ 12.3/14.5 MB 4.1 MB/s eta 0:00:01
   ---------------------------------- ----- 12.5/14.5 MB 4.0 MB/s eta 0:00:01
   ----------------------------------- ---- 12.8/14.5 MB 4.0 MB/s eta 0:00:01
   ------------------------------------ --- 13.1/14.5 MB 4.0 MB/s eta 0:00:01
   ------------------------------------- -- 13.4/14.5 MB 3.9 MB/s eta 0:00:01
   ------------------------------------- -- 13.6/14.5 MB 4.0 MB/s eta 0:00:01
   -------------------------------------- - 13.9/14.5 MB 4.0 MB/s eta 0:00:01
   ---------------------------------------  14.2/14.5 MB 4.1 MB/s eta 0:00:01
   ---------------------------------------  14.4/14.5 MB 4.2 MB/s eta 0:00:01
   ---------------------------------------- 14.5/14.5 MB 4.2 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.4.0
Note: you may need to restart the kernel to use updated packages.

In [84]:
import mysql.connector

In [88]:
import pandas as pd

In [89]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\aravi\anaconda3\lib\site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [92]:
import pymysql

# Establish connection
myconnection = pymysql.connect(host='127.0.0.1', user='root', passwd='Bala@9944', database="myproject")
cursor = myconnection.cursor()

# Create table
create_table_sql = """
CREATE TABLE IF NOT EXISTS myproject.top_user (
    state VARCHAR(255),
    year INT,
    Quater BIGINT,
    Pincodes INT,
    RegisteredUsers BIGINT
)
"""
cursor.execute(create_table_sql)

# Insert data
sql = "INSERT INTO myproject.top_user VALUES (%s, %s, %s, %s, %s)"
for i in range(len(df6)):
    cursor.execute(sql, tuple(df6.iloc[i]))
    myconnection.commit()

# Close connection
myconnection.close()

In [96]:

myconnection = pymysql.connect(host='127.0.0.1', user='root', passwd='Bala@9944', database="myproject")
cursor = myconnection.cursor()

# Create table with modified schema
create_table_sql = """
CREATE TABLE IF NOT EXISTS myproject.top_transcation (
    state VARCHAR(255),
    year INT,
    Quater BIGINT,
    Pincodes INT, 
    Transaction_count BIGINT,
    Transaction_amount FLOAT
)
"""
cursor.execute(create_table_sql)

# Insert data
sql = "INSERT INTO myproject.top_transcation VALUES (%s, %s, %s, %s, %s, %s)"
for i in range(len(df5)):
    cursor.execute(sql, tuple(df5.iloc[i]))
    myconnection.commit()

# Close connection
myconnection.close()

DataError: (1265, "Data truncated for column 'Pincodes' at row 1")

In [100]:

myconnection = pymysql.connect(host='127.0.0.1', user='root', passwd='Bala@9944', database="myproject")
cursor = myconnection.cursor()

# Create table
create_table_sql = """
CREATE TABLE IF NOT EXISTS myproject.map_user (
    state VARCHAR(255),
    year INT,
    Quater BIGINT,
    Districts VARCHAR(255),
    RegisteredUsers BIGINT,
    AppOpens BIGINT
)
"""
cursor.execute(create_table_sql)

# Insert data
sql = "INSERT INTO myproject.map_user VALUES (%s, %s, %s, %s, %s, %s)"
for i in range(len(df4)):
    cursor.execute(sql, tuple(df4.iloc[i]))
    myconnection.commit()

# Close connection
myconnection.close()

In [101]:
import pymysql

# Establish connection
myconnection = pymysql.connect(host='127.0.0.1', user='root', passwd='Bala@9944', database="myproject")
cursor = myconnection.cursor()

# Create table
create_table_sql = """
CREATE TABLE IF NOT EXISTS myproject.map_transcation (
    state VARCHAR(255),
    year INT,
    Quater BIGINT,
    Districts VARCHAR(255),
    Transaction_count BIGINT,
    Transaction_amount FLOAT
)
"""
cursor.execute(create_table_sql)

# Insert data
sql = "INSERT INTO myproject.map_transcation VALUES (%s, %s, %s, %s, %s, %s)"
for i in range(len(df3)):
    cursor.execute(sql, tuple(df3.iloc[i]))
    myconnection.commit()

# Close connection
myconnection.close()

In [102]:
import pymysql

# Establish connection
myconnection = pymysql.connect(host='127.0.0.1', user='root', passwd='Bala@9944', database="myproject")
cursor = myconnection.cursor()

# Create table
create_table_sql = """
CREATE TABLE IF NOT EXISTS myproject.agg_user (
    state VARCHAR(255),
    year INT,
    Quater BIGINT,
    Brands VARCHAR(255),
    Transaction_count BIGINT,
    Percentage FLOAT
)
"""
cursor.execute(create_table_sql)

# Insert data
sql = "INSERT INTO myproject.agg_user VALUES (%s, %s, %s, %s, %s, %s)"
for i in range(len(df2)):
    cursor.execute(sql, tuple(df2.iloc[i]))
    myconnection.commit()

# Close connection
myconnection.close()

In [103]:
import pymysql

# Establish connection
myconnection = pymysql.connect(host='127.0.0.1', user='root', passwd='Bala@9944', database="myproject")
cursor = myconnection.cursor()

# Create table
create_table_sql = """
CREATE TABLE IF NOT EXISTS myproject.agg_transaction (
    state VARCHAR(255),
    year INT,
    Quater BIGINT,
    Transaction_type VARCHAR(255),
    Transaction_count BIGINT,
    Transaction_amount FLOAT
)
"""
cursor.execute(create_table_sql)

# Insert data
sql = "INSERT INTO myproject.agg_transaction VALUES (%s, %s, %s, %s, %s, %s)"
for i in range(len(agg_trans)):
    cursor.execute(sql, tuple(agg_trans.iloc[i]))
    myconnection.commit()

# Close connection
myconnection.close()